:root {
  --main-bg-color: #FFFFFF;
  --sidebar-color: #f2f2f0;
  --main-text-color: #262626;
  --divider-color: #e5e5e5;
  --hover-color: #e8e8e6;
  --accent-color: #b8c0ff;
}
*, *::before, *::after {
  box-sizing: border-box;
}


*:not(dialog) {
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.hidden-items {
  display: none;
}

header {
  grid-area: header;
  border: 2px solid green;
}

footer {
  grid-area: footer;
  border: 2px solid pink;
}

#main-display {
  grid-area: main;
  border: 2px solid blue;
}

#project-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  border: 1px dotted purple;
}

#project-list {
  flex-grow: 1;
}


.container {
  display: grid;
  border: 1px solid red;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header" 
    "sidebar main"
    "footer footer";

}